@media (width < 1400px) {
    body {
        font-family: 'Courier New', Courier, monospace;
        background-color: aquamarine;
    }
}

@media not (width < 1400px) {
    body {
        font-family:Georgia, 'Times New Roman', Times, serif;
        background-color: navajowhite;
    }
}